
{% extends "enrollment/base.html" %}  

{% block content %}
    {% for enrollment in enrollments %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ enrollment.user.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <p class="mr-2">{{ enrollment.student.username }}</p>
              <small class="text-muted">{{ enrollment.date_enrolled | date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'enrollment-detail' enrollment.id %}">{{ enrollment.course.title }}</a></h2>
            <p class="article-content">{{ enrollment.course.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
